<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>To-Do Widget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToDoCoreDataCloudKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Todododo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodododoTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TodododoUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37514AFA1EEF736F00D67A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37514B111EEF736F00D67A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37514B1C1EEF736F00D67A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377993341F653910001B1146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377993421F65F821001B1146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377993541F65FD29001B1146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37814B361F466BA500A43C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3792EE541F4689D100ACAAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3792EE6B1F477F8500ACAAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3792EE731F477F8600ACAAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3792EE901F47816800ACAAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3792EE981F47816900ACAAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
